*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.truck{
    width: 100%;
    height: 46px;
    background: var(--green, #72BF44);
    padding-top: 12px;
}

.header-up{
    max-width: 380px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.header-up p{
    color: white;
    font-weight: 600;
}

.header-up img{
    padding-bottom: 13px;
}

.header{
    width: 100%;
    height: 40px;
    background: #F5F5F5;
}

.header-about{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding-top: 8px;
}

.item{
    max-width: 500px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.item1{
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ikonka{
   margin:0 10px 15px 70px;
}

.number{
    max-width: 1200px;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 110px;
    height: 70px;
}

.knopka{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #72BF44;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.input{
    width: 500px;
    height: 50px;
    padding-left: 24px;
    border: none;
    background-color: #F5F5F5;
}

.phone{
    margin-top: 10px;
}

.heart{
    width: 21px;
    height: 20px;
}

.carousel{
    max-width: 1200px;
    display: block;
    margin:50px auto;
}

.img-carusel{
    max-width: 1100px;
    display: block;
    margin:0 auto;

}

.carousel-caption{
    position: relative;
    top: 100px;
}

.carousel-caption h1{
    text-align: start;
    font-size: 50px;
    color: #383838;
}

.carousel-caption p{
    width: 280px;
    font-size: 20px;
    text-align: start;
    margin: 20px 0;
    font-weight: bold;
    color: #383838;
}

.carousel-caption button{
    width: 200px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #383838;
    font-size: 18px;
    font-weight: bold;
    display: block;
    align-items: start;
}    

.sale-img{
    position: relative;
    left: 50px;
}

.item3{
    width: 172px;
    height: 45px;
    border-radius: 8px;
    background: #F8F8F8;
    text-align: center;
}

.main-ul{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:32px auto 0;
    list-style: none;
}

.main-ul a{
    color: #383838;
    text-decoration: none;
    padding:0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}

.main-ul a:hover{
    border-radius: 8px;
    background: #F8F8F8;
    transition: 0.3s;
    padding: 5px 7px; 
}



.number8{
    max-width:1200px ;
}
html,
body {
  position: relative;
  height: 500px;
  margin: 0 auto;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  background: #F5F5F5;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  max-width: 250px;
}

.ta{
  margin-left: 13px;
  font-size: 24px;
  font-weight: 600;
}

.sht{
  color: #C4C4C4;
  margin-left: 13px;
  position: relative;
  bottom: 15px;
}

.img4{
  position: relative;
  left: 85px;
  bottom: 30px;
  width: 165px;
  height: 150px;
}

.img6{
  position: relative;
  left: 70px;
  bottom: 20px;
  width: 180px;
  height: 140px;
}

.im2{
  width: 170px;
  height: 160px;
  position: relative;
  left: 80px;
  bottom: 40px;
}

.img5{
  position: relative;
  left: 125px;
  bottom: 90px;
  width: 125px;
  height: 215px;
}

.img8{
  position: relative;
  bottom: 70px;
  left: 120px;
}